@page
@model web_sınav.Pages.Soru2Model
@{
    ViewData["Title"] = "2. Soru";
}

<h2>2. Soru: Karenin Alanı ve Çevresi</h2>

<form method="post">
    <label>Karenin bir kenar uzunluğunu girin:</label>
    <br />
    <input type="number" step="any" asp-for="Kenar" required />
    <br /><br />
    <button type="submit">Hesapla</button>
</form>

@if (Model.Alan != null)
{
    <br />
    <p>Karenin Alanı: @Model.Alan</p>
    <p>Karenin Çevresi: @Model.Cevre</p>
}