@page
@model WebApplication1.Pages.test8Model

<h2>Öğrenci Bilgileri</h2>
<hr />

<h2>Ad: @Model.Ogrenci.Ad</h2>
<h2>Yaş: @Model.Ogrenci.Soyad</h2>
<h2>Yaş: @Model.Ogrenci.Yas</h2>
<h2>Ortalama: @Model.Ogrenci.Ortalama</h2>
